# Remove tracking of files
*.Rhistory
*.RData

# Mac files
.DS_Store

# Vim files
*~
*.swp

# Data files
*.csv
*.txt

# JavaScript files
*.js

# RStudio files
.Rproj.user
*.Rproj

# Knitr files
*.html
*_cache
*.dcf
unnamed-*.png
