# remove tracking of files
*.Rhistory
*.RData

# mac files
.DS_Store

# vim files
*~
*.swp

# data files
*.csv
*.txt

# javascript files
*.js

# rstudio files
.Rproj.user
*.Rproj

# knitr files
*.html
*_cache
*.dcf
unnamed-*.png
